.my-work-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 2px;
}

.my-work-img {
    width: 100%;
}

.margin-bottom {
    height: 30px;
}