.top-bar {
    visibility: hidden;
}

@media( max-width:1340px ) {
    .top-bar {
        visibility: visible;
        position: fixed;
        font-family: 'Raleway', sans-serif;
        height: 70px;
        top: 0;
        right: 0;
        left: 0;
        background-color: $side-bar-color;
        z-index: 1000;
    }

    .top-bar-name {
        position: absolute;
        color: $side-bar-elements-color;
        left: 1%;
        top: 50%;
        transform: translateY(-50%);
    }

    .top-bar-letter-1 {
        left: 10px;
        animation: side-bar-name .2s ease-in 1.5s;
        animation-fill-mode: backwards;
    }
    
    .top-bar-letter-2 {
        left: 30px;
        animation: side-bar-name .2s ease-in;
        animation-fill-mode: backwards;
    }
    
    .top-bar-letter-3 {
        left: 50px;
        animation: side-bar-name .2s ease-in 1s;
        animation-fill-mode: backwards;
    }
    
    .top-bar-letter-4 {
        left: 70px;
        animation: side-bar-name .2s ease-in .5s;
        animation-fill-mode: backwards;
    }

    .top-bar-social-media {
        position: absolute;
        color: $side-bar-elements-color;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .top-bar-social-media_logos {
        position: absolute;
        color: $side-bar-elements-color;
        top: 50%;
        transform: translateY(-50%);
    }

    .top-bar-instagram-logo {
        right: 14%;
    }
    
    .top-bar-twitter-logo {
        right: 9.5%;
    }
    
    .top-bar-facebook-logo {
        right: 5%;
    }
}

.social-media-list {
    display: none;
    visibility: hidden;
    list-style: none;
    position: absolute;
    right: 0;
    width: 100px;    
    top: 38px;
}

@media (max-width:653px) {
    .top-bar-social-media_logos {
        visibility: hidden;
        display: none;
    }

    .top-bar-menubtn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        top: 50%;
        transform: translateY(-50%);
        left: 85%;
        cursor: pointer;
    }

    .top-bar-menubtn__burger {
        position: absolute;
        background-color: $side-bar-elements-color;
        height: 4px;
        width: 30px;
        border-radius: 100px;
        transition: all .5s ease-in-out;
    }

    .top-bar-menubtn__burger::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        background-color: $side-bar-elements-color;
        transform: translateY(8px);
        transition: all .5s ease-in-out;
    }

    .top-bar-menubtn__burger::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        background-color: $side-bar-elements-color;
        transform: translateY(-8px);
        transition: all .5s ease-in-out;
    }

    .top-bar-menubtn.open .top-bar-menubtn__burger {
        transform: translateX(-50%);
        background: transparent;
    }

    .top-bar-menubtn.open .top-bar-menubtn__burger::before{
        transform: rotate(45deg) translate(10px, -10px);
    }

    .top-bar-menubtn.open .top-bar-menubtn__burger::after{
        transform: rotate(-45deg) translate(10px, 10px);
    }

    .list {
        list-style: none;

        &-instagram {
            background-color: $side-bar-color;
            padding: 5px;
            border-bottom: 3px solid #282828;
        }

        &-twitter {
            background-color: $side-bar-color;
            padding: 5px;
            border-bottom: 3px solid #282828;
        }

        &-facebook {
            background-color: $side-bar-color;
            padding: 5px;
            border-bottom: 3px solid #282828;
        }
    }

    .social-media-list.visible {
        visibility: visible;
        display: list-item;
    }

    .list-instagram__inner {
        color: $side-bar-elements-color;
        text-decoration: none;
    }

    .list-twitter__inner {
        color: $side-bar-elements-color;
        text-decoration: none;
    }

    .list-facebook__inner {
        color: $side-bar-elements-color;
        text-decoration: none;
    }
}